<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简历</title>
</head>
<body>
    <h1>花和尚简历</h1>
    <hr>
    <h3>个人信息</h3>
    <table border="0">
        <tr>
            <td>姓名：花和尚</td>
            <td>年龄：20</td>
        </tr>
        <tr>
            <td>学校：西安古墓派</td>
            <td>专业：吊绳睡觉</td>
        </tr>
        <tr>
            <td>Github: ...</td>
            <td>CSDN: ...</td>
        </tr>
    </table>
    <hr>
    <h3>专业技能</h3>
    <ul>
        <li>精通java多线程让程序睡觉</li>
        <li>精通数据库删库跑路</li>
        <li>精通Linux删硬盘跑路</li>
        <li>...</li>
    </ul>
    <hr>
    <h3>项目经历</h3>
    <div>
        <p>项目名称：个人博客</p>
        <p>项目简介：xxx</p>
        <p>开发环境：Maven, IDEA, Windows</p>
        <p>技术栈：Servlet, MySQL, Jackson, UEditor</p>
        <p>项目描述：</p>
        <ul>
            <li>使用xx技术实现了xx功能</li>
            <li>使用xx技术实现了xx功能</li>
            <li>使用xx技术实现了xx功能</li>
        </ul>
    </div>
</body>
</html>